        </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
     <link rel="stylesheet" href="css/datatables.css" />
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/global.js" type="text/javascript"></script>
    <script src="js/tablesorter/jquery.tablesorter.js"></script>
    <script src="js/tablesorter/tables.js"></script>
    <script type="text/javascript" src="js/zebra_datepicker.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

    <script>
        jQuery(document).ready(function() {  
            Custom.init();
        });
    </script>
  </body>
</html>